*node_modules
application-secret.yml
workschd-api/docker/dc-release-en9door.yml
workschd-vue3/dist
workschd-vue3/dev-dist

actions-runner
workschd-vue3/package-lock.json
.DS_Store
workschd-api/persist/src/main/resources/credentials.json
