spring.output.ansi.enabled: ALWAYS

logging:
  pattern:
    #    console: "[%d{HH:mm:ss.SSS}][%-5level][%class{1}] - %msg%n"
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx"
    file: "[%d{yyyy-MM-dd HH:mm:ss.SSS}][%-5level][%class{1}] - %msg%n"
    level:
      error: "%clr(%5p){bold,red}"
      warn: "%clr(%5p){bold,yellow}"
      info: "%clr(%5p){green}"
      debug: "%clr(%5p){blue}"
      trace: "%clr(%5p){faint}"
  level:
    root: info
    org.hibernate.SQL: info
    org.springframework.web: info
    com.zaxxer.hikari: info
  logback:
    rollingpolicy:
      max-file-size: 20MB
      max-history: 10
      file-name-pattern: /var/log/${spring.application.name}.%d{yyyy-MM-dd}.%i.log

  file:
    path: /var/log/containers/${spring.application.name}
    name: ${logging.file.path}/${spring.application.name}.log

decorator:
  datasource:
    p6spy:
      logging: slf4j
      enable-logging: false
---
spring.config.activate.on-profile: local

logging:
  level:
    root: info
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info

# spring.datasource.hikari.data-source-properties.cachePrepStmts=false
decorator:
  datasource:
    p6spy:
      logging: slf4j
      enable-logging: true


---
spring.config.activate.on-profile: develop

logging:
  level:
    root: info
    org.hibernate.SQL: info
---
spring.config.activate.on-profile: release-.*

logging:
  level:
    root: warn
    org.hibernate.SQL: warn
    org.springframework.web: DEBUG
    com.zaxxer.hikari: DEBUG


decorator:
  datasource:
    p6spy:
      logging: slf4j
      enable-logging: false